@using Model;
@model List<Model.Employee>
@{
	ViewBag.Title = "Trang chủ";
	ViewBag.Content = "Load sản phẩm";
}


<table class="table">
	<tr class="bg-info text-white">
		<th>ID</th>
		<th>Image</th>
		<th>Name</th>
		<th>Age</th>
	</tr>

	@foreach(var item in Model)
	{
		<tr>
			<td>@item.Id</td>
			<td data-textName="@NameText(item.Name)"></td>
			<td>@item.Name</td>
			<td class="@is_Age(item.Age)">@item.Age</td>
		</tr>
	}
</table>

<button class="btn btn-success w-25" id="Add">Thêm</button>

@* <div id="dialog" data-img="~/lib/red_x.svg.png"></div> *@
<script>
	const add = document.getElementById("Add");
	const dialog = document.getElementById("dialog");
	add.addEventListener('click', (event) => {
		dialog.style.display = 'block';
	});
</script>

@{
	string NameText(string? Text)
	{
		if(string.IsNullOrEmpty(Text))
		{
			return "";
		}
		List<string> str = Text.Split(" ").ToList();
		string First_Name = str[str.Count - 1];
		
		return First_Name[0].ToString();
	}
	string is_Age(int? age) => age < 18 ? "text-danger" : "";
}